@import 'variables.css'
// html
// body
// #root
// .app
//   height 100%
body
  font-family var(--font-family)
  margin 0
#swiper-calendar
  margin-top 170px
  .fc-today
    background-color #fff
  .fc-toolbar.fc-header-toolbar
    display none
  .fc-timeGridDay-view
    thead
      display none
    tbody
      .fc-day-grid
      .fc-divider
        display none
