#calendar-weekly
  overflow scroll
  width 100vw
  .calendar-weekly
    justify-content space-between
    overflow auto
    display flex
    .fc-header-toolbar
      display none
    .fc-bg
      .fc-axis.fc-widget-content
        padding 0
        border-style none
        border-width 0
    .fc-axis.fc-widget-header
      display none
    .fc-slats
      .fc-axis.fc-time
        display none
