#calendar-weekly
  overflow scroll
  width 100vw
  .calendar-weekly
    justify-content space-between
    overflow auto
    display flex
    .fc-event
      background-color var(--event-bgcolor)
      border-inline-start 2px solid #f4f9ff
      -webkit-border-start 2px solid #f4f9ff
      -moz-border-start 2px solid #f4f9ff
      border-inline-end none
      -webkit-border-end none
      -moz-border-end none
      border-top 1px solid white
      border-bottom 1px solid white
      .nowrap
        white-space nowrap
      .single
        padding-inline-start 5px
        -webkit-padding-start 5px
        -moz-padding-start 5px
        flex-grow 1
      .address_pin
        height 10px
        width 10px
      .feather
        height 10px
        width 10px
      .mini
        width 6px
        height 7px
      .ev-custom
        height 100%
        position relative
        .bday
          display inline-flex
          align-items center
          height 14px
          line-height 14px
          margin-inline-start 5px
          -webkit-margin-start 5px
          -moz-margin-start 5px
        .debt
          display inline-block
          text-align center
          width 14px
          height 14px
          line-height 14px
          background-color var(--dept-color)
          border-radius 50%
          margin-inline-start 5px
          -webkit-margin-start 5px
          -moz-margin-start 5px
        .fc-time
          display none
        .click-mask
          width 100%
          height 100%
          position absolute
        .event-start
          margin 0
          text-align end
          font-weight bold
          color var(--black-color)
          font-size 8px
          white-space normal
        .custom-event
          width 100%
          height 100%
          overflow hidden
          .note-wrap
            margin-top 5px
            max-width 100%
            padding 0
            box-sizing border-box
            padding-inline-start 45px
            -webkit-padding-start 45px
            -moz-padding-start 45px
            padding-inline-end 45px
            -webkit-padding-end 45px
            -moz-padding-end 45px
            display flex
            .client-note
              margin 0
              padding-inline-start 2px
              -webkit-padding-start 2px
              -moz-padding-start 2px
              font-size 11px
              overflow hidden
              text-overflow ellipsis
              color var(--black-color)
          .address-wrap
            box-sizing border-box
            padding-inline-start 45px
            -webkit-padding-start 45px
            -moz-padding-start 45px
            padding-inline-end 45px
            -webkit-padding-end 45px
            -moz-padding-end 45px
            display flex
            max-width 100%
            margin-top 5px
            padding 0
            .client-address
              margin 0
              padding-inline-start 2px
              -webkit-padding-start 2px
              -moz-padding-start 2px
              font-size 11px
              text-overflow ellipsis
              white-space nowrap
              overflow hidden
              color var(--main-color)
          .services-name
            margin 5px 0 0 0
            white-space nowrap
            font-size 11px
            font-weight bold
            overflow hidden
            color var(--grey-color)
            max-height 55px
            text-overflow ellipsis
          .client-name
            margin 5px 0 0 0
            white-space nowrap
            font-size 11px
            font-weight bold
            overflow hidden
            color var(--black-color)
            max-height 55px;
            text-overflow ellipsis
          &.fullWeekly
            width 100%
            height 100%
            overflow hidden
            .foto-time
              display flex
              flex-direction column
              padding 5px 3px 0
              .time-info
                width 85px
                box-sizing border-box
                padding-inline-end 0
                -webkit-padding-end 0
                -moz-padding-end 0
              .foto-name
                display flex
                flex-grow 1
                overflow hidden
                align-items center
                padding 0
                width 100%
                .fit
                  object-fit cover
                  &.normalSize
                    height 32px
                    width 32px
                    border-radius 100%
                .short-cont
                  .duration-wrap
                    margin 4px 0 0 0
                    text-align end
                    white-space normal
                    font-size 8px
                    font-weight bold
                    color var(--black-color)
                    display flex
                    align-items baseline
                    justify-content flex-end
                    .event-duration
                      padding-inline-start 3px
                      -webkit-padding-start 3px
                      -moz-padding-start 3px
            .note-address
              padding 0 3px 0
              .address-wrap
                max-width 100%
                margin-top 5px
                padding 0
          &.overlayFull
            .foto-time
              .time-info
                width 100%
                .event-start
                  font-size 8px
              .name-service
                .client-name
                  font-size 11px
                  margin 5px 0 0 0
                .services-name
                  font-size 11px
                  margin-top 8px
            .note-address
              .note-wrap
                .client-note
                  white-space nowrap
        .weeklyflex
          display flex
          height 100%
          align-items center
          -moz-padding-start 3px
          -webkit-padding-start 3px
          padding-inline-start 3px
          .client-name
            font-size 11px
            margin 0
            flex-shrink 0
          .services-name
            margin 0
            font-size 11px
          .debt
            width 9px
            height 9px
      .name-service
        &.twoline
          height 100%
          display flex
          flex-direction column
          justify-content center
          padding 0 3px
          .client-name
            font-size 11px
            margin-inline-end 0
            -webkit-margin-end 0
            -moz-margin-end 0
          .services-name
            padding 0
            margin 0
            margin-top 5px
            font-size 11px
        &.threeline
          height 100%
          padding 0 3px
          .event-start
            margin-top 5px
            margin-inline-end 5px
            -webkit-margin-end 5px
          .client-name
            font-size 11px
            margin 0
            margin-top 7px
          .services-name
            padding 0
            margin 0
            margin-top 5px
            font-size 11px
          &.overlayThree
            .address-wrap
              padding 0
              max-width 100%
              .client-address
                font-size 11px
        &.fourline
          height 100%
          padding 5px 3px 0
          .event-start
            margin-top 5px
            margin-inline-end 5px
            -webkit-margin-end 5px
          .client-name
            font-size 11px
            margin 0
            margin-top 5px
          .services-name
            padding 0
            margin 0
            margin-top 5px
            font-size 11px
          .note-address
            .address-wrap
              max-width 95%
              padding-inline-start 0
              -webkit-padding-start 0
              -moz-padding-start 0
              padding-inline-end 0
              -webkit-padding-end 0
              -moz-padding-end 0
          &.overlayFour
            .address-wrap
              padding 0
              margin 5px 0 0 0
              max-width 100%
              .client-address
                font-size 11px
            .note-wrap
              padding 0
              max-width 100%
              .client-note
                font-size 11px
      .off_time
        background-color var(--off-time-bgcolor)
        display flex
        .name_full
          white-space nowrap
          text-overflow ellipsis
          overflow hidden
          font-size 13px
          font-weight bold
          color var(--black-color)
        &.fullOff
          flex-direction column
          justify-content flex-start
          height 100%
          .time-name
            display flex
            justify-content space-between
            padding 4px 3px 0
            .off_time_wrap
              .off_time_img
                width 19px
                height 16px
            .event-start
              margin-top 5px
              margin-inline-end 3px
              -webkit-margin-end 3px
              -moz-margin-end 3px
              text-align end
              font-size 8px
              font-weight bold
              color var(--black-color)
          .name_full
            margin-top 2px
            padding  0 3px 0
            white-space normal
            line-height 14px
            font-size 11px
            max-height 26px
          .note-address
            padding 5px 3px 0
            .address-wrap
              box-sizing border-box
              margin-top 5px
              display flex
              .client-address
                margin 0
                padding-inline-start 2px
                -webkit-padding-start 2px
                -moz-padding-start 2px
                font-size 11px
                text-overflow ellipsis
                white-space nowrap
                overflow hidden
                color var(--main-color)
            .note-wrap
              box-sizing border-box
              margin-top 5px
              display flex
              .client-note
                margin 0
                padding-inline-start 2px
                -webkit-padding-start 2px
                -moz-padding-start 2px
                font-size 11px
                line-height 14px
                max-height 26px
                overflow hidden
                text-overflow ellipsis
                color var(--black-color)
        &.overlayOff
          .event-start
            margin-top 8px
          .name_full
            margin-top 8px
            white-space nowrap
          .note-address
            .note-wrap
              margin-top 8px
              .client-note
                white-space nowrap
        &.shortOff
          align-items center
          height 100%
          padding 0 3px
          .name_full
            font-size 11px
          //.event-start
          //  margin 0
          //  text-align end
          //  font-size 8px
          //  font-weight bold
          //  color var(--black-color)
        &.twoOff
          flex-direction column
          height 100%
          padding 0 3px
          .event-start
            margin-top 5px
          .name_full
            font-size 11px
            margin-top 5px
        &.threeOff
          flex-direction column
          height 100%
          padding 0 3px
          .time-name
            .event-start
              margin-top 5px
            .name_full
              margin-top 8px
              font-size 11px
          .note-address
            padding-top 5px
            .address-wrap
              box-sizing border-box
              margin-top 5px
              display flex
              .client-address
                margin 0
                padding-inline-start 2px
                -webkit-padding-start 2px
                -moz-padding-start 2px
                font-size 11px
                text-overflow ellipsis
                white-space nowrap
                overflow hidden
                color var(--main-color)
            .note-wrap
              box-sizing border-box
              margin-top 5px
              display flex
              .feather
                width 10px
                height 10px
              .client-note
                margin 0
                padding-inline-start 2px
                -webkit-padding-start 2px
                -moz-padding-start 2px
                font-size 11px
                text-overflow ellipsis
                overflow hidden
                color var(--main-color)
      .fc-resizer
        background-color var(--main-bgcolor)
        border-style none
    .fc-header-toolbar
      display none
    .fc-bg
      .fc-axis.fc-widget-content
        padding 0
        border-style none
        border-width 0
    .fc-axis.fc-widget-header
      display none
    .fc-slats
      .fc-axis.fc-time
        //display none


