.monthly-view
  .dayOff
    background-color var(--home-dayOff-bgcolor)
  .normalDay
    background-color var(--home-normalDay-bgcolor)
  .busyDay
    background-color var(--home-busyDay-bgcolor)
  .easyDay
    background-color var(--home-easyDay-bgcolor)
  .dayOfRest
    background-color var(--white-color)
